{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.
{sub_dirs, ["apps/dws", "rel"]}.
{require_otp_vsn, "17"}.

{deps, [
    {'lager', ".*",
      {git, "git://github.com/basho/lager.git", "master"}},
    {'cowboy', ".*",
      {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
    {'idealib', ".*",
      {git, "git://github.com/ztmr/idealib_erl.git", "master"}}
]}.
