%% -*-Erlang-*-
{lib_dirs, ["deps"]}.
{sub_dirs, ["apps/dws", "rel"]}.
{require_otp_vsn, "17"}.

{erl_opts, [
    {parse_transform, lager_transform},
    fail_on_warning
]}.

{plugins, [rebar_vsn_plugin]}.
{plugin_dir, "deps/rebar_vsn_plugin/src"}.

{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.

{deps, [
    {'lager', ".*",
      {git, "git://github.com/basho/lager.git", "master"}},
    {'cowboy', ".*",
      {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
    {'idealib', ".*",
      {git, "git://github.com/ztmr/idealib_erl.git", "master"}},
    {msgpack, ".*",
      {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
    {'rebar_vsn_plugin', ".*",
      {git, "https://github.com/ztmr/rebar_vsn_plugin", "master"}}
]}.
