[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% Logging
 {lager, [
   {colored, true},  %% Supported only on R16+
   {handlers, [
     {lager_console_backend, info},
     %% XXX: disable this for production!
     {lager_file_backend, [
       {file, "log/debug.log"}, {level, debug}, {size, 10485760},
       {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
       %% 12:04:43.515 [iwf@gersemi<0.123.0>:my_module_foo:268] message
       {formatter_config, [
         time, % " [", severity, "]", %% severity is contained in the filename
         " [", node, pid, ":", module,
         ":", line, "] ", message, "\n"]}]},

     {lager_file_backend, [
       {file, "log/console.log"}, {level, info}, {size, 10485760},
       {date, "$D0"}, {count, 5}]},
     {lager_file_backend, [
       {file, "log/error.log"}, {level, error}, {size, 10485760},
       {date, "$D0"}, {count, 5}]}
   ]}
 ]},

 %% Distributed WebSockets
 {dws, [
   %% The space is mandatory!! (templating bug?)
   {listen_port, {{dws_listen_port}} },
   {cluster_hosts, {{dws_cluster_hosts}} },
   {broker_handlers, {{dws_broker_handlers}} }
 ]}
].

